@model IEnumerable<MVC5Course.Models.ViewModels.ProductListVM>

@{
	ViewBag.Title = "ProductsList";
}
@if (TempData["CreateProduct_result"] != null)
{
	<h1>@TempData["CreateProduct_result"] </h1>
}
<h2>Action</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get">
@*@Html.BeginForm(){*@ 	
@Html.ValidationSummary("結果：", new { @class = "text-danger" })@*加入此程式碼*@
	查詢:
	@Html.TextBox("q")
	庫存數量
	@Html.TextBox("minnum",0,new {size ="10" ,type = "number" })-
	@*@Html.ValidationMessageFor( , "", new { @class = "text-danger" })*@
	@*@Html.ValidationMessageFor(, "", new { @class = "text-danger" })*@
	@Html.TextBox("maxnum", 999, new { size = "10", type = "number" })
	<button >送出</button>
	@*  *@}
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @*@Html.DisplayTextFor(modelItem => item.Active)*@
			@item.Active
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
